{% extends 'main.html' %}

{% block content %}

<h1>Project Template</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Project Name</th>
        <th>Total votes</th>
        <th>Votes Ratio</th>
        <th></th>
    </tr>
  
    {% for project in projects %}
    <tr>
        <td>{{project.id}}</td>
        <td>{{project.title}}</td>
        <td>{{project.vote_total}}</td>
        <td>{{project.vote_Ratio}}</td>
        <td><a href="{% url 'projectid' project.id %}">view</a></td>
        <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
        <td><a href="{% url 'delete-project' project.id %}">DELETE</a></td>
    </tr>
    {% endfor %}

</table>

<br>
{% endblock content %}

